@font-face {
    font-family: 'GT Sectra';
    src:
        url('/fonts/GT-Sectra-Fine-Regular.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'Untitled Sans';
    src:
            url('/fonts/untitled-sans-regular.woff2') format('woff2');
    font-weight: 400;
}